<%- include("template/cabecera",{tituloWeb : 'pagina de index'}) %>
     <!-- aqui vamos a tener el listado de mascotas-->
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
                <% if (arrayMascotas.length > 0) { %>
                    <% arrayMascotas.forEach(mascota => { %>

                        <tr>
                            <th scope="row"><%= mascota.id %> </th>
                            <td><%= mascota.nombre %></td>
                            <td><%= mascota.descripcion %></td>
                            <td><input class="btn btn-success" type="button" value="Editar"> <input class="btn btn-danger" type="button" value="Eliminar"></td>
                          </tr>

                    <% }) %>
                   <% } %>
            </tbody>
          </table>
    </div>

<%- include("template/footer") %>